# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environment directory
venv/

# Ignore images directory
images/
JUSTTRAINIMAGES/

# Ignore dataset directory
dataset/